.carousel {
  border: 3px solid blue;
  z-index: 1;
  //   position: relative;
  //   height: 100%;

  img {
    display: block;
    height: 100%;
    margin: auto;
    width: 100%;
  }

  .dotList {
    padding-bottom: 10px;
    height: 6%;
  }
}

.dateRange {
  .DateRangePicker__CalendarSelection {
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    color: red;
  }

  .DateRangePicker__CalendarHighlight--single {
    border: 1px solid var(--clr-primary);
  }

  .DateRangePaginationArrow {
    border: 1px solid red;
  }
  span {
    font-size: 12px;
  }
  //   .DateRangePicker__LegendItemColor--selection {
  //     background-color: green;
  //   }
  //   border: 3px solid green;
}

.modal {
  position: fixed;
  z-index: 2;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  height: 50px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-container {
  display: flex;
  flex-direction: column;
  // border: 3px solid red;
  /* flex-direction: column; */
  /* background-color: blue; */
  /* height: 100%; */
  /* flex: auto; */
}
