.home-container {
  display: flex;
  flex-direction: column;

  &.modal-open {
    // overflow: hidden;
  }

  .search-container {
  }
}

.test {
  text-decoration: none;
  background-color: var(--clr-primary);
  color: var(--clr-light);

  &.disabled {
    pointer-events: none;
    filter: brightness(0.5);
  }
}

// .agencies-modal {
//   z-index: 2;
//   position: absolute;
//   top: 30px;
//   width: 100%;
//   height: 100%;
//   border: 2px solid green;

//   .modal-content {
//     width: 100%;
//     height: 300px;
//     background-color: white;
//   }
// }
