.offerconfig-container {
  display: flex;
  max-width: var(--max-width);
  background-color: var(--clr-primary);
  flex-direction: column;
  .top-img-container {
    border: none;
    position: relative;
    background-color: var(--clr-dark);

    .title {
      position: absolute;
      top: 0;
      left: 0;
      margin: 60px 20px;
      font-size: 35px;
      font-weight: 700;
      background-color: var(--clr-dark);
      color: var(--clr-primary);
    }
    .center-container {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: 20px;
      left: 0;
      width: 100%;
      background-color: transparent;

      div {
        display: flex;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;

        i {
          color: var(--clr-lightgrey);
          font-size: 30px;
          transform: rotate(0deg);
          transition: transform 200ms ease-in;

          &.resized {
            transform: rotate(180deg);
          }
        }
      }
    }

    img {
      width: 100%;
      max-height: 300px;
      transition: max-height 0.8s;
      object-fit: cover;

      &.resized {
        max-height: 600px;
      }
    }
  }

  .infos-banner {
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-dark);
    .long-title {
      color: var(--clr-light);
      font-weight: 700;
      font-size: 20px;
    }
    .details {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: var(--clr-light);

      i {
        padding: 0;
        margin: 0;
      }

      .info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        span {
          margin-left: 5px;
          font-size: 15px;
        }
      }
    }
  }

  .main-content {
    padding: 30px 50px;
    display: flex;

    .options {
      display: flex;
      flex-direction: column;
      flex: 3;

      .main-title {
        font-weight: 700;
        font-size: 38px;
        margin-bottom: 20px;
      }

      .title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 23px;
      }

      .included-charges {
        flex-wrap: wrap;
        display: flex;
        margin: 20px 0;
        .charge-line {
          align-items: center;
          display: flex;
          max-width: 50%;
          min-width: 200px;
          flex: 1 0 50%;
          padding-right: 20px;
          margin-bottom: 10px;
          i {
            font-size: 12px;
            margin-right: 10px;
          }
        }
      }

      .additional-charges {
        display: flex;
        flex-wrap: wrap;
        & > div {
          padding: 20px 20px 0 0;
          min-width: 300px;
          flex: 1 0 50%;
          min-height: 190px;
        }

        .optionsMoreLess {
          min-height: auto;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 100%;
            font-size: 30px;
            color: var(--clr-light);
            span {
              font-size: 25px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    .pricing {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      height: fit-content;
      position: sticky;
      top: 30px;
      margin-left: 30px;
      flex: 2;

      .container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;

        & > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .left {
            display: flex;
            flex-direction: column;
            align-self: flex-end;

            & > span {
              font-size: 15px;
              font-weight: 700;
              margin-bottom: 10px;
            }

            .link-modal {
              color: var(--clr-light);
              display: flex;
              align-items: center;
              cursor: pointer;

              i {
                font-size: 11px;
                margin-right: 10px;
                transform: rotate(0deg);
                transition: transform 0.3s ease-in;

                &.modal {
                  transform: rotate(90deg);
                }
              }
              span {
                font-family: "Roboto", sans-serif;
                font-size: 13px;
              }
            }
          }

          .total-price {
            color: var(--clr-light);
            font-family: "Rokkitt", sans-serif;
            position: relative;
            padding-bottom: 5px;
            font-size: 55px;

            .small {
              font-size: 30px;
            }
            &:after {
              bottom: 0;
              right: 0;
              position: absolute;
              font-family: "Roboto", sans-serif;
              content: "Taxes incluses";
              font-size: 11px;
            }
          }
        }
      }

      button {
        border: none;
        background-color: var(--clr-light);
        color: var(--clr-primary);
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        padding: 15px;
        cursor: pointer;
        transition: 0.6s;

        &:hover {
          background-color: var(--clr-primary);
          color: var(--clr-light);
          box-shadow: inset 0px 0px 0px 3px var(--clr-light);
        }
      }
    }
  }

  &.modal {
    border: 2px solid red;
    position: fixed;
    // top: var(--modal-scroll-pos);
    // top: calcl(var(--modal-scroll-pos) + var(--header-height));
    // left: 0;
  }
}
