.price-details-container {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;

  .rental-general {
    display: flex;

    .details {
      display: flex;
      flex-direction: column;
      span {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        margin: 5px 10px 5px 0;
      }
      .car-subline {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    img {
      max-width: 230px;
    }
  }

  .additional-infos {
    .line {
      display: flex;
      align-items: center;

      i {
        font-size: 12px;
      }
      span {
        padding: 5px;
        margin-left: 8px;
      }
    }
  }
  .line-detail {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: space-between;
  }

  .line-total {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-title,
  .title {
    text-transform: uppercase;
    font-weight: 700;
  }
  // }

  .main-title {
    font-size: 57px;
    margin-bottom: 20px;
  }

  .title {
    margin: 25px 0 10px;
    font-size: 22px;
  }
  .details {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
  }

  .price {
    position: relative;
    font-family: "Rokkitt", sans-serif;
    font-size: 19px;

    &:before {
      position: absolute;
      right: 107%;
      bottom: 10%;
      font-size: 13px;
      content: "€";
    }

    &.total {
      font-size: 42px;

      &:before {
        position: absolute;
        right: 107%;
        bottom: 11%;
        font-size: 23px;
        content: "€";
      }
      &:after {
        position: absolute;
        right: 0;
        top: 100%;
        font-size: 14px;
        content: "Taxes incluses";
      }
    }
  }
}

// .main-title .title {
