*,
body {
  font-family: "Roboto Condensed", sans-serif;
  // font-family: "Roboto", sans-serif;
  /* font-family: "Rokkitt", sans-serif; */

  box-sizing: border-box;
}

:root {
  --clr-primary: #ff5f00;
  --clr-dark: #191919;
  --clr-lightgrey: #c5c5c5;
  --clr-grey: #969696;
  --clr-light: #ffffff;
  --max-width: 1600px;
  --header-height: 66px;
  --footer-height: 60px;
  --modal-scroll-pos: 0px;
}

.App-container {
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--clr-dark);
  background-color: transparent;
  &::-webkit-scrollbar {
    width: 5px;
  }
}
